{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8" />

	<title>Vendr</title>
	<meta name="description" content="Simple easy file sharing" />

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/app.css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/app.js"></script>

    {% block extrahead %}{% endblock %}

</head>

<body>
<div id="header">
    <span><a href="/"><span class="logo_text">Vendr</span></a></span>
    <div id="top_menu">
        <ul>
        </ul>
    </div>
</div>

<div id="content">
{% block content %}

{% endblock %}
</div>

<div id="footer">
    <span id="copyright">&copy; 2011 <a href="http://www.lumentica.com" target="_blank">Lumentica</a></span>
</div>

<script type="text/javascript">
</script>

<!-- analytics -->
<script type="text/javascript">
</script>

</body>
</html>
